body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
  }
  
  .container-fluid {
    background-color: #6495ED;
    color: white;
    padding: 10px;
  }
  
  /* Side Navigation (Sidenav) */
  #sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6495ED;
    padding-top: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  #sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  #sidenav a:hover {
    background-color: #3F64A8;
    color: white;
  }
  
  /* Logo */
  .logo img {
    width: 80px;
    margin: 0 auto;
    display: block;
  }
  
  /* Main Content */
  #main {
    margin-left: 270px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Navbar */
  /* .navbar {
    background-color: #6495ED;
    border: none;
    border-radius: 0;
    margin: 0;
  }
  
  .navbar-form {
    margin-top: 10px;
  }
  
  .navbar-form .input-group {
    width: 100%;
  }
  
  .navbar-form .form-control {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .navbar-form .input-group-btn .btn {
    border: none;
    border-radius: 20px;
    background-color: #6495ED;
    color: white;
    padding: 10px 20px;
    transition: 0.3s;
  }
  
  .navbar-form .input-group-btn .btn:hover {
    background-color: #3F64A8;
  }
   */
  /* Buttons */
  .btn-primary {
    background-color: #6495ED;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #3F64A8;
  }
  
  /* Timestamp Container */
  .timestamp-container {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .timestamp-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .welcome-text {
    font-size: 24px;
    font-weight: bold;
    color: #6495ED;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4b86ef;
    min-width: 160px;
    z-index: 1;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    transition: 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: #3F64A8;
    color: white;
  }


  /* signin css */

