{%extends 'users/base.html'%}
{% block task %}
{%block welcome%}{%endblock welcome%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/delete.css'%}">

    <div class="login-container">
      <div class="form-container">

    <h1>Delete Task</h1>
      <p>Are you sure you want to delete this Task?</p>
    <form action=""   method="post">
        {% csrf_token %}
        {{form.as_p}}
          <button type = 'submit' class="opacity">Delete</button>
    </form>
  </div>
   </div>
  {% endblock task %}

