{%extends 'users/base.html'%}
 {% load static %}
 {% block task %}
 <link rel="stylesheet" href="{% static 'css/task-assign.css'%}">
 <style>
    .button, input, select, textarea {
        line-height: 1;
        width: fit-content;
    }
 </style>
 {%block welcome%}{%endblock welcome%}
    
    <section class="container">
        <div class="login-container">
    
            <div class="form-container">
                <h1 class="opacity">Task Assign</h1>
    
                <form action="" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    
                    <button class="opacity">SUBMIT</button>
                </form>
            </div>
         </div>
     </section>

            {% endblock task %}