{% extends 'users/base.html' %}
{% load static %}
{% block task %}
{% block welcome %}{% endblock welcome %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
<div class="task-details">
    <h1>Task</h1>
    <ul>
        <li><b>Task:</b> {{ object.task }}</li>
        <li><b>Assigned to:</b> {{ object.manager.first_name }} {{ object.manager.last_name }}</li>
        <li><b>Project:</b> {{ object.project }}</li>
        <li><b>Start date:</b> {{ object.start_date }}</li>
        <li><b>Estimate date:</b> {{ object.estimate_date }}</li>
        <li><b>Description:</b> {{ object.description }}</li>
        <li><b>Attachment:</b> <a href = "{{object.file_attachment.url}}">{{ object.file_attachment }}</li></a>
        <form method="post" action="">
            {% csrf_token %}
            <button type="submit" ><a href = "{%url 'update-task-status' object.id %}">Send Status</button>
        </form>
    </ul>
</div>
<style>
    .task-details {
        border: 1px solid #ccc;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 10px;
    }
</style>
{% endblock task %}