{%extends 'users/base.html'%}
 {% load static %}
 {% block task %}

  <link rel="stylesheet" href="{% static 'css/task.css'%}">
    <h1>Assigned Tasks</h1>
    {%block welcome%}{%endblock welcome%}

     <ul> 
        {% for object in object_list %} 
        <li><b>Task : </b> {{ object.task }}</li> 
        <li><b>Assigned to : </b>  {{ object.employee.first_name}}</li> 
        <li><b>Project : </b> {{ object.project}}</li> 
        <li><b>Start date : </b>{{ object.start_date}}</li> 
        <li><b>Estimate date : </b>{{ object.estimate_date }}</li> 
        <li><b>Description : </b>{{ object.description }}</li> 
        <li><b>Status : </b>{{ object.status }}</li> 
        <li><b>Attachment : </b><a href = "{{object.file_attachment.url}}">{{ object.file_attachment }}<a href = "{{object.file_attachment.url}}"></li> 
        <a href="{% url 'update-task' object.id %}">Update</a> 
        <a href="{% url 'delete-task' object.id %}">Delete</a>
        <hr/> 
        {% empty %} 
        <li>No objects yet.</li> 
        {% endfor %} 
        
        </ul>  
   
      {% endblock task %}

