{% extends 'users/base.html' %}
{% load static %}

{% block task %}
    <link rel="stylesheet" href="{% static 'css/my-task.css' %}">

    {% block welcome %}{% endblock welcome %}

    <h1>Combined Data: Check-In/Out and Work Hours</h1>
    
    <!-- Search form for Check-In/Out data -->
    <form class="d-flex" role="search" action="{% url 'check-in-out' %}" method="GET">
        {% csrf_token %}
        <div class="input-group">
            <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                name="search_query"
                required aria-label="Search"
                style="width: 300px"
            >
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>

    <!-- Table for Check-In/Out data -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Date</th>
                <th>Work Hours</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.employee.first_name }}</td>
                    <td>{{ data.date }}</td>
                    <td>{{ data.work_hours }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- Table for Work Hours data -->
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Work Hours</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    <td>{{ data.date }}</td>
                    <td>{{ data.work_hours }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    

{% endblock task %}