{% extends 'users/base.html' %}
{% load static %}

{% block task %}
<link rel="stylesheet" href="{% static 'css/my-task.css' %}">

{% block welcome %}{% endblock welcome %}

<h1>Leave Balance</h1>
<table>
    <thead>
        <tr>
            <th>Month</th>
            <th><b>Leave Allowed</b></th>
            <th><b>Leave Taken</b></th>
            <th><b>Leave Remain</b></th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>{{ month }}</td>
            <td>{{ leave_allowed }}</td>
            <td>{{ leave_taken }}</td>
            <td>{{ leave_remain }}</td>
        </tr>
        
    </tbody>
</table>
{% endblock task %}