{%extends 'users/base.html'%}
 {% load static %}
 {% block task %}

  <link rel="stylesheet" href="{% static 'css/task.css'%}">
    <h1>Manage Leave</h1>
    {%block welcome%}{%endblock welcome%}

     <ul> 
    
        {% for object in object_list %} 
        
        <li><b>Employee Name : </b> {{ object.employee.first_name }}</li> 
        <li><b>Leave Type : </b>  {{ object.type}}</li> 
        <li><b>Leave choice : </b> {{ object.leaveChoice}}</li> 
        <li><b>From date : </b>{{ object.startDate}}</li> 
        <li><b> To date : </b>{{ object.endDate }}</li> 
        <li><b>Reason : </b>{{ object.reason }}</li> 
        <li><b>Status : </b>{{ object.status }}</li> 
       
        <form method="post" action="{% url 'leave-approve-reject' object.id %}">
          {% csrf_token %}
          {%if object.status == 'Pending'%}
          <button type="submit" name="action" value="approve">Approve</button>
          <button type="submit" name="action" value="reject">Reject</button>
          {%endif%}
      </form>
        <hr/> 
        {% empty %} 
        <li>No objects yet.</li> 
        {% endfor %} 
        
        </ul>  
    
      {% endblock task %}

