{%extends 'users/base.html'%}
 {% load static %}
 {% block task %}

  <link rel="stylesheet" href="{% static 'css/task.css'%}">
    <h1>Manage Leave</h1>
    {%block welcome%}{%endblock welcome%}

     <ul> 
    
        {% for object in object_list %} 
        
        <li><b>Employee Name : </b> {{ object.employee.first_name }}</li> 
        <li><b>Leave Type : </b>  {{ object.Type}}</li> 
        <li><b>Leave choice : </b> {{ object.leaveChoice}}</li> 
        <li><b>From date : </b>{{ object.startDate}}</li> 
        <li><b> To date : </b>{{ object.endDate }}</li> 
        <li><b>Reason : </b>{{ object.reason }}</li> 
        <li><b>Status : </b>{{ object.status }}</li> 

        
          <div class = "status">
          <label for = "id_status"> Status</lable>
          <select name = "status" id = "id_status">
            <option value = "Pending">Pending</option>
            <option value = "Aproved">Approved</option>
            <option value = "Rejected">Rejected</option>
          </select>
          <a href = "{%url 'send-status' %}"><button class="opacity">UPDATE</button></a>


          <th>
            <label for="{{form.leaveChoice.id_label}}">  
              {{form.leaveChoice.label}}
            </lable>
          </th>

          <td>{% for value, displayable in form.leaveChoice.choices %}
            <option value="{{value}}">{{displayable}}</option>
          {% endfor %}
      </td>

      </div> 

        <hr/> 
        {% empty %} 
        <li>No objects yet.</li> 
        {% endfor %} 
        
        </ul>  
    
      {% endblock task %}





      <script>
      function statusFunction() {
        document.getElementById("statusDropdown").classList.toggle("show");
      }
      window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>

