<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>{% block title %}Company Creed{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" href= "{% static '/images/logo.jpg' %}" type="image/x-icon"> 
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css'%}">
  <script src="{% static '/js/index.js' %}"></script>
</head>

<body>

  {% if user.employee.is_authenticated %}

  <div id="sidenav" class="sidenav">
    <div class="logo">
      <img src="{% static '/images/logo.jpg' %}" alt="Company Logo">
    </div>
  
    <a href="http://127.0.0.1:8000/index/" onmouseenter="dashboardFunction()">
      <span class="glyphicon glyphicon-dashboard"></span> Dashboard
    </a>

    <a onmouseenter="attendanceFunction()">
      <span class="glyphicon glyphicon-check"></span> Attendance
    </a>
    <div id="myDropdown" class="dropdown-content">
      <a href="{%url "user-check-in-out"%}">Check-in/ Check-out </a>
      <a href="{%url "user-work-hour"%}">Working Hour</a>
      {% if request.user.employee.is_manager %}
      <a href="{% url 'check-in-out' %}"> Employee Check-in/ Check-out</a>
      <a href="{% url 'total-working-hours' %}">Employee Working Hour</a>

      {%endif%}
    </div>

    <a onmouseenter="taskFunction()">
      <span class="glyphicon glyphicon-tasks"></span> Task/Call
    </a>
    {% if request.user.employee.is_manager %}
    <div id="taskDropdown" class="dropdown-content">
      <a href="{% url 'task-assignment' %}">Assign tasks</a>
      <a href="{% url 'view-task' %}">View assigned Task</a>
      <a href="{% url 'my-task' %}">View tasks</a>
    </div>
    {% else %}
    <div id="taskDropdown" class="dropdown-content">
      <a href="{% url 'my-task' %}">View tasks</a>
    </div>
    {% endif %}

    <a onmouseenter="leaveFunction()">
      <span class="glyphicon glyphicon-tasks"></span> Manage Leave
    </a>
    {% if request.user.employee.is_manager %}
    <div id="leaveDropdown" class="dropdown-content">
      <a href="{% url 'leave-application' %}">Apply Leaves</a>
      <a href="{% url 'my-leave' %}">My Leaves</a>
      <a href="{% url 'leave-balance' %}">Leave Balance</a>
      <a href="{% url 'leave-manage' %}">Manage leave applications</a>
    </div>
    {% else %}
    <div id="leaveDropdown" class="dropdown-content">
      <a href="{% url 'leave-application' %}">Apply Leaves</a>
      <a href="{% url 'my-leave' %}">My Leaves</a>
      <a href="{% url 'leave-balance' %}">Leave Balance</a>
    </div>
    {% endif %}

    <a href="{% url 'create-customer' %}">
      <span class="glyphicon glyphicon"></span> Customer Creation
    </a>

    <a href="{% url 'creat-checkout-session' %}">
      <span class="glyphicon glyphicon"></span> Make Payment
    </a>

    {% if request.user.employee.designation.name == 'Accountant' %}
    <a href="{% url 'employee-list' %}">
      <span class="glyphicon glyphicon-user"></span> Generate Salary Slip
    </a>
    {% endif %}
    
    <a href="/logout/" onmouseenter="dashboardFunction()">
      <span class="glyphicon glyphicon-log-in"></span> Logout 
    </a>


  </div>

  <div id="main">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <div class="dropdown">
                <button onmouseenter="profileFunction()" class="dropbtn" style="
                border-radius: 25px;
                height: 41px;
                padding: 0px 0px;
                position: relative;
                bottom: 1px;
            ">
                <div class="user-circle"><img  style = "
                  max-height: 44px; max-width:44px; border-radius: 25px;" src = "{{request.user.employee.profile_pic.url}}"></div>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
                </button>
                <div id="myDropdown1" class="dropdown-content" style="
                top: 62px;
                right: -11px;
            ">
                    <a href="{% url 'edit-profile' request.user.employee.id %}">Edit Profile</a>
                    <li><a href="{%url 'user-salary-slip'%}"><span class=""></span>Salary slip</a></li>
                    <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    
    {% block content %}
    {% endblock content %}

    {% block edit %}
    {% endblock edit %}
    
    {% block task %}
    {% endblock task %}

    {% block salary %}
    {% endblock salary %}

  </div>

  {%else%}

  {% block signin %}
  {% endblock signin %}

  {%endif%}

  </body>
</html>





