<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>{% block title %}Company Creed{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css'%}">

  <style>
    .timestamp-container {
        text-align: center;
        margin: 20px;
        padding: 10px;
        background-color: #f0f0f0;
        {% comment %} border: 1px solid #ccc; {% endcomment %}
        border-radius: 5px;
    }
    
    
    .timestamp-text {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }
    
    .welcome-text {
        font-size: 24px;
        font-weight: bold;
        color: #007bff;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% comment %} <img src="{% static '/images/logo.jpg' %}" alt="My image"> {% endcomment %}
        <a class="navbar-brand" href="#">Company Creed</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        </ul>


        <ul class="nav navbar-nav navbar-right">

          <div class="dropdown">
            <a href="http://127.0.0.1:8000/index/"><button onmouseenter="dashboardFunction()" class="dropbtn"><span
                class="glyphicon glyphicon-dashboard"></span>Dashboard</button></a>
          </div>


          <div class="dropdown">
            <button onmouseenter="attendanceFunction()" class="dropbtn"><span
                class="glyphicon glyphicon-check"></span>Attendance</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Send Status</a>
              <a hr ef="#">Apply Leaves</a>
              <a href="#">My Leaves</a>
              <a href="{% url 'check-in-out'  %}">Check-in/ Check-out</a>
            </div>
          </div>


          <div class="dropdown">
            <button onmouseenter="taskFunction()" class="dropbtn"><span class="glyphicon glyphicon-tasks"></span>Task/
              Call</button>
            {% if request.user.employee.is_manager %}
            <div id="taskDropdown" class="dropdown-content">
              <a href="#">Assign calls</a>
              <a href="{% url 'task-assignment'  %}">Assign tasks</a>
              <a href="{% url 'view-task'  %}">View assigned Task</a>
              <a href="#">View calls</a>
              <a href="{% url 'my-task'  %}">View tasks</a>
            </div>
            {%else%}
            <div id="taskDropdown" class="dropdown-content">
              <a href="#">View calls</a>
              <a href="{% url 'my-task'  %}">View tasks</a>
            </div>
            {%endif%}
          </div>


          <!-- {%if request.user.employee.is_manager%}
          <div class="dropdown">
            <button onmouseenter="attendanceFunction()" class="dropbtn"><span
                class="glyphicon glyphicon-user"></span>Employee List</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Send Status</a>
              <a href="#">Apply Leaves</a>
              <a href="#">My Leaves</a>
              <a href="#">Check-in/ Check-out</a>
            </div>
          </div>
          {%endif%}--->


          <!-- {%if request.user.employee.is_manager%}
          <div class="dropdown">
            <button onmouseenter="attendanceFunction()" class="dropbtn">Employee Status</button>
            <div id="myDropdown1" class="dropdown-content">
              <a href="#">Send Status</a>
              <a href="#">Apply Leaves</a>
              <a href="#">My Leaves</a>
              <a href="#">Check-in/ Check-out</a>
            </div>
          </div>
    
          {%endif%} -->


          {% comment %} {%if request.user.employee.is_manager%}
          <div class="dropdown">
            <button onmouseenter="leaveFunction()" class="dropbtn"><span
                class="glyphicon glyphicon-list-alt"></span>Manage Leave Application</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Send Status</a>
              <a href="#">Apply Leaves</a>
              <a href="#">My Leaves</a>
              <a href="#">Check-in/ Check-out</a>
            </div>
          </div>
          {%endif%} {% endcomment %}


          <div class="dropdown">
            <button onmouseenter="profileFunction()" class="dropbtn">{{request.user.employee.first_name}}
              {{request.user.employee.last_name}}</span><span
                class="glyphicon glyphicon-triangle-bottom"></span></button>
            <div id="myDropdown1" class="dropdown-content">
              <a href="{% url 'edit_profile' user.employee.pk %}">Edit Profile</a>
              <a href="#">Change status</a>
              <a href="#">View Salary slip</a>
              <li><a href="/password_reset/"><span class=""></span>Reset password</a></li>
              <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
              </li>
            </div>


          </div>
        </ul>
      </div>
    </div>
  </nav>



{%block welcome%}
  <div id="timestamp" class="timestamp-container">
    <p class="timestamp-text">{{ current_datetime }}</p>
    <p class="welcome-text">Welcome, {{ request.user.employee.first_name }} {{ request.user.employee.last_name }}</p>

    <div class ='check-in-out'>
      <a href = "{%url 'check-in' %}"><button id = "checkInOutButton" class = 'btn btn-primary' onclick="toggleCheckInOut()">Check-in</button></a>
    </div>

</div>
{%endblock welcome%}



<script>

function toggleCheckInOut(){
  var button = document.getElementById("checkInOutButton");
  if(button.innerHTML === "Check-in")
  {
    setTimeout(function(){
      button.innerHTML = 'Check-out';
    },1000);
  }else{
    setTimeout(function(){
      button.innerHTML = 'Check-in';
    },1000)
  }
} 



</script>

  <!-- {%block main%}
    <main></main>
    {%endblock main%} -->


    {% block signin %}{% endblock signin %}
    {% block task %}{% endblock task %}


  {% comment %} <footer class="container-fluid text-center">
    <p>&copy; Copyright by Company Creed</p>
  </footer> {% endcomment %}


  <script>
    function attendanceFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }


    function profileFunction() {
      document.getElementById("myDropdown1").classList.toggle("show");
    }
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }


    function taskFunction() {
      document.getElementById("taskDropdown").classList.toggle("show");
    }
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

  </script>


</body>
</html>
