
{%extends 'users/base.html'%}
{% load static %}
{% block welcome %}{% endblock welcome %}
{%block edit%}

 <link rel="stylesheet" href="{% static 'css/editProfile.css'%}">

<section class="container">
    <div class="login-container">

        <div class="form-container">
            <h1 class="opacity"> EDIT PROFILE</h1>

            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                
                <button class="opacity">UPDATE</button>
            </form>
        </div>
        </div>
        </section>

        {%endblock edit%}







{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'users/editProfile.css'%}">
</head>
<body>



    <section class="container">
        <div class="login-container">
    
            <div class="form-container">
                <h1 class="opacity"> EDIT PROFILE</h1>
    
                <form action="" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    
                    <button class="opacity">UPDATE</button>
                </form>
    
               
                
            </div>
            </div>
            </section>


    
    
</body>
</html> {% endcomment %}