
 {%extends 'users/base.html'%}
 {% block signin %}
 {%block welcome%}{%endblock welcome%}
 {% load static %}
  <link rel="stylesheet" href="{% static 'css/signin1.css'%}">

  <section class="container">
    <div class="login-container">

        <div class="form-container">
            <h1 class="opacity"> Signin</h1>

            <form action="" method="POST">
                {% csrf_token %}

                {%if messages %}
                {%for message in messages%}
                <div class="alert">
                    {{message}}
                </div>
                {%endfor%}
                {%endif%}

                {{ form.as_p}}
                <br>
                <br>
                <button class="opacity">SUBMIT</button>

            </form>

            <div class="register-forget opacity">
                <a href="{% url 'user-signup' %}">REGISTER</a>
                <a href="{% url 'password_reset' %}">FORGOT PASSWORD</a>
            </div>

        </div>
    </div>
</section>
{% endblock signin %}
 

