{%extends 'users/base.html'%}
 {% load static %}
 {% block signin %}
 {%block welcome%}{%endblock welcome%}
 <link rel="stylesheet" href="{% static 'css/signup1.css'%}">

 <style>
    
 </style>
 
<section class="container">
    <div class="login-container">

        <div class="form-container">
            <h1 class="opacity"> Employee Signup</h1>

            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                
                <button class="opacity">SUBMIT</button>
            </form>
        </div>
        </div>
        </section>

        {% endblock signin %}

















   