<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Creed</title>
</head>
<body>

    <div class="text-center">
        <h1>Welcome..</h1>
        <a href="/logout/" class="">Logout</a>
    </div>

    <div class="topnav">
        <a class="active" href="">Task</a>
        <a href="">Attendance</a>
        <a href="">Employee Profile</a>
        <a href="">Calls</a>
      </div>

</body>
</html>