{%extends 'users/base.html'%}
{% load static %}
{% block task %}
<link rel="stylesheet" href="{% static 'css/my-task.css'%}">

{%block welcome%}{%endblock welcome%}

    <h1>My Tasks</h1>
    
      <table>
        <thead>
        <tr>
          <th>Task</th>
          <th>Assigned by</th>
          <th>Project</th>
          <th>Start date</th>
          <th>Estimate date</th>
          <th>Description</th>
          <th>Attachment</th>
        </tr>
    </thead>
    <tbody>
        {% for object in task %} 
        <tr>
          <td>{{ object.task }}</td>
          <td>{{ object.manager.first_name}}</td>
          <td>{{ object.project }}</td>
          <td>{{ object.start_date }}</td>
          <td>{{ object.estimate_date}}</td>
          <td>{{ object.description }}</td>
          <td>{{ object.file_attachment}}</td>
        </tr>
        {% endfor %}
    </tbody>
      </table>
    
      {% endblock task %}

