

{%extends 'users/base.html'%}
{% block signin %}
{%block welcome%}{%endblock welcome%}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/signin1.css'%}">

 <section class="container">
   <div class="login-container">

       <div class="form-container">
        {% if validlink %}
        <h1>Set a new password!</h1>

           <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <br>
            <button class="opacity">Change password</button>
          </form>

          {% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}

       </div>
   </div>
</section>
{% endblock signin %}




